[package]
name = "fix-rs"
version = "0.1.0"
edition = "2024"

[dependencies]
smallvec = "1"
memchr = "2"

[dev-dependencies]
criterion = { version = "0.5", features = ["html_reports"] }

[[bench]]
name = "fix_bench"
harness = false

[profile.bench]
opt-level = 3
lto = "thin"
